.front-box-wrapper {width: 959px; margin: 0px auto}
.front-page-banner-l img {float:left; width:140px; margin-left:40px; margin-right:-40px; margin-top:50px}
.front-page-banner-r img {float:right; width:140px; margin-right:40px; margin-left:-40px; margin-top:50px}
.front-page-c {width:70%; float:left;}