article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}
mark, rp, rt, ruby, summary, time {
	display: inline
}

html, body, div, span, p, ul, li, form, label, figure {
	border: 0 none;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
}
body {
	margin: 0px;
	padding: 0px;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a{
	color:#ba002f;
	text-decoration:none;
}
a img {
	border: 0;
}
/*-- REQUIRED COMMON CLASSES --*/
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clear {
	clear: both;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}
.imgleft, .imgleft2 {
	float: left;
	margin: 0 15px 15px 15px;
}
.imgleft2{
	margin:0 15px 15px 0;
}
.imgright {
	float: right;
	margin: 0 0 15px 15px;
}
.ovr-hid {
	overflow: hidden;
}
/*-- CLEARFIX --*/
.clearfix:after, ul:after,
.sidebar-block:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/** html .clearfix {
	zoom: 1;
} /* IE6 */
/**:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */
/*-- WRAPPER CLASSES --*/
.header-wrapper, .wrapper, .footer-wrapper {
	width: 959px;
	margin: 0 auto;
	position: relative;
}
/*-- CONTAINER --*/
.container {
	padding: 51px 0 0 0;
	position: relative;
}
#content-header {
	float:left;
	width:100%;
	height:75px;
	padding:10px 0 0 0;
}

/*-i- SPRITE IMAGE ATTACHMENT--*/
h1#logo a, 
div.checker span,
div.selector,
.buying-property li .icons,
.sidebar-property-sale li a .icons,
a.read-more span.icons,
a.read-more.less span.icons,
a.back span.icons,
.agent-ph .icons,
.main-data-top-control .icons,
.sidebar-top-control .icons,
.prop-serv li .icons,
.property-slider-outer .new-label,
.featured-block-icons span.icons,
.property-icons span.icons,
.add-to-myfavourites a span.icons,
.pagination li a span.icons{
	background:url(images/reiq-sprite.png) no-repeat left top;

}

/*-- HEADER --*/
#header {
	width: 100%;
	height: 51px;
	float: left;
	background: #464646;
	position: absolute;
	left: 0;
	top: 0;
	z-index:99999;
}
.header-wrapper {
	height: 51px;
}
h1#logo {
	float: left;
	width: 205px;
	height: 59px;
	left: 0;
	top: 0;
	position: absolute;
}
h1#logo a {
	float: left;
	width: 205px;
	height: 59px;
	text-indent: -99999px;
	background-position:0 0;
}
/*-- NAVIGATION --*/
nav#nav-top, nav#nav-top ul {
	float: right;
	position: relative;
}
nav#nav-top ul li, nav#nav-top ul li a {
	float: left;
	/*position: relative;*/
}
nav#nav-top ul li a {
	color: #fff;
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size: 13px;
	line-height: 51px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
}
nav#nav-top ul li:hover a, nav#nav-top ul li a:hover {
	background: #ba002f;
}
	/*-- SUB NAVIGATION --*/
nav#nav-top ul li:hover .sub-menu li a {
	background: none;
}
nav#nav-top ul li.child-menu .sub-menu {
	display: none;
}
nav#nav-top ul li .sub-menu {
	background: #464646;
	position: absolute;
	top: 51px;
	right:0;
	width: 655px;
	padding: 10px 10px;
}
nav#nav-top ul li .sub-menu ul {
	width: 100%;
}
nav#nav-top ul li .sub-menu ul li {
	width: 218px;
	float: left;
	margin: 0 0 5px 0;
}
nav#nav-top ul li .sub-menu ul li a {
	color: #fff;
	float: none;
	font-size:12px;
	display: block;
	/*letter-spacing:-1px;*/
	padding: 5px 4px;
	line-height: normal;
}
nav#nav-top ul li .sub-menu ul li a:hover {
	background: #ba002f;
}

/*-- FRONT PAGE --*/
.front-page-title {
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size: 19px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.front-page-top-block {
	float: left;
	width: 100%;
	padding: 30px 0 37px 0;
	background: #e2e2e2;
}
.front-search-tab {
	width: 482px;
	margin: 0 auto;
	clear: both;
}

/*-- FRONT PAGE TOP FORM TABS --*/
#form-tab {
	padding:0;
}
#form-tab .nav {
	height:28px;
	background:#000000;
}
#form-tab .nav li {
	float: left;
	margin: 0 1px 0 0;
}
#form-tab .nav li.last {
	margin-right: 0;
	float:right;
}
#form-tab .nav li a {
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size: 16px;
	display: block;
	padding: 0 19px;
	color: white;
	text-align: center;
	border: 0;
	line-height:28px;
	text-decoration:none;
	text-transform:uppercase;
}
#form-tab .nav li.last a {
	padding: 0 19px;
}

#form-tab .nav li a:hover {
	background-color: #ba002f;
}
#form-tab ul {
	list-style: none;
}
#form-tab ul li a {
	display: block;
	border-bottom: 1px solid #666;
	padding: 4px;
	color: #666;
}
#form-tab ul li a:hover,
#form-tab ul li a.current {
	background-color: #ba002f;
	color: white;
}
#form-tab ul li a.current {
	margin-top:-5px;
}

#form-tab ul li:last-child a {
	border: none;
}
#form-tab .list-wrap {
	padding:10px;
	width:462px;
	height:127px !important;
	float:left;
	background:#848484;
	border-bottom:5px solid #000000;
}

/*-- FRONT PAGE CONTENT TABS --*/
.front-content-tab {
	clear:both;
	float:left;
	width:100%;
}
.front-content-tab-nav-wrap {
	background:#555;
	height:43px;
	position:relative;
}
.content-tab2-outer {
	width:100%;
	float:left;
	background:#ba002f;
}
#fr-content-tab {
	padding:0;
}
#fr-content-tab .nav {
	height:43px;
	background:#555;
	width:959px;
	margin:0 auto;
	text-align:center;
	position:relative;
	height:43px;
}
#fr-content-tab .nav li {
	display:inline-block;
	margin: -2px 1px 0 0;
	height:45px;
	position:relative;
}
#fr-content-tab .nav li.last {
	margin-right: 0;
}
#fr-content-tab .nav li a {
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size: 13px;
	display: block;
	padding: 15px 18px;
	color: white;
	text-align: center;
	border: 0;
	text-decoration:none;
	text-transform:uppercase;
}
#fr-content-tab .nav li.last a {
	padding: 15px 17px;
}
#fr-content-tab .nav li a:hover {
	background-color: #ba002f;
}
#fr-content-tab ul {
	list-style: none;
}

#fr-content-tab ul li a:hover,
#fr-content-tab ul li a.current {
	background-color: #ba002f;
	color: white;
}
#fr-content-tab ul li a.current,
#fr-content-tab ul li.last a.current {
/*	padding-top:2px;
	margin-top:-2px;
*/}
#fr-content-tab ul li:last-child a {
	border: none;
}
#fr-content-tab .list-wrap {
	width:959px;
	height:auto;
	min-height:185px;
	margin:0 auto;
	background:#ba002f;
}
.tab-inner-data {
	padding:10px;
	width:740px;
	margin:0 auto;
}
.buying-property li {
	float:left;
	width:50%;
	margin:0 0 15px 0;
}
.buying-property li a {
	color:#fff;
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size:17px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
	line-height:69px;
}
.buying-property li .icons {
	width:69px;
	height:69px;
	float:left;
	margin:0 15px 0 0;
}
.buying-property li a .icons.step1 {
	background-position:-226px 0;
}
.buying-property li a .icons.step2 {
	background-position:-305px 0;
}
.buying-property li a .icons.step3 {
	background-position:-384px 0;
}
.buying-property li a .icons.step4 {
	background-position:-463px 0;
}
.buying-property li a .icons.step5 {
	background-position:0 -497px;
}
.buying-property li a .icons.step6 {
	background-position:-79px -497px;
}

/*-- PROPERTY DETAIL TABS --*/
#property-detail-tab {
	padding:0;
	margin:0 0 30px 0;
}
#property-detail-tab .nav {
	height:34px;
	background:#fff;
	border-bottom:1px solid #dddddd;
}
#property-detail-tab .nav li {
	float: left;
}
#property-detail-tab .nav li a {
	font-size: 12px;
	display: block;
	padding: 0 19px;
	color: #ba002f;
	text-align: center;
	border: 0;
	line-height:29px;
	text-decoration:none;
	border-right:1px solid #dddddd;
	border-top:1px solid #dddddd;
	border-left:0;
	margin-top:4px;
	
}
#property-detail-tab .nav li.first a {
	border-left:1px solid #dddddd;
}
#property-detail-tab .nav li.last a {
	border-right:1px solid #dddddd;
}

#property-detail-tab ul {
	list-style: none;
}
#property-detail-tab ul li a {
	display: block;
	border-bottom: 1px solid #666;
	padding: 4px;
	background:#f5f5f5;
}
#property-detail-tab ul li a:hover,
#property-detail-tab ul li a.current {
	background-color: #fff;
	color:#5e5e5e;
}
#property-detail-tab ul li a.current {
	line-height:33px;
	margin-top:0;
	padding-bottom:1px;
	margin-left:-1px;
	border-left:1px solid #dddddd;
}
#property-detail-tab ul li.first a.current{
	margin-left:0;
}
#property-detail-tab .list-wrap {
	padding:0 0 0 10px;
	width:628px;
	float:left;
	height:auto !important;
	background:#fff;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-bottom:3px solid #ba002f;
}
.pro-detail-tab-data {
	padding:15px 15px 10px 0;
	overflow:hidden;
	color:#222222;
}
.pro-detail-tab-data h2 {
	font-size:16px;
	color:#ba002f;
	font-weight:bold;
	margin:0 0 15px 0;
}
.pro-detail-tab-sidebar {
	float:right;
	width:174px;
	min-height:610px;
	padding:20px 10px;
	background:#f7f7f7;
	border-left:1px solid #dddddd;
	color:#868686;
}
.pro-detail-tab-sidebar h3 {
	color:#000;
	font-size:16px;
	margin:0 0 15px 0;
}
.pro-detail-tab-sidebar .right-sign li{
	padding:0 0 10px 15px;
	background:url(images/right-icon.png) no-repeat left 4px;
}

/*-- CONTENT HEADER --*/
#content-header h1 {
	font-size:21px;
	color:#000000;
	margin:20px 0;
}
.content-header-first-full-block {
	width:640px;
	float:left;
}
.agent-header h1{
	margin:10px 0!important;
	text-transform:uppercase;
}
.agent-header h1,
.agent-header .contact-detail,
.content-header-first-block,
.content-header-second-block {
	float:left;
	width:320px;
	padding:10px 0 0 0;
}
.agent-header .contact-detail{
	font-size:11px;
	color:#595959;
}
.agent-adv,
.content-header-third-block {
	float:right;
	width:307px;
	text-align:center;
}
.prop-serv {
	margin:30px 0 0 0;
	text-align:center;
}
.prop-serv li{
	display:inline-block;
	margin:0 5px;
}
.prop-serv li .icons {
	width:25px;
	height:16px;
	float:left;
	margin:0 5px;
}
.prop-serv li a{
	color:#595959;
}
.prop-serv li a.bed .icons{
	background-position:-7px -179px;
}
.prop-serv li a.bath .icons{
	height:17px;
	background-position:-51px -176px;
}
.prop-serv li a.parking  .icons{
	background-position:-103px -178px;
}
/*-- RIGHT SIDEBAR --*/
#right-sidebar{
	float:right;
	width:307px;
}
#right-sidebar h2 {
	font-family: 'Signika', sans-serif;
	font-weight:400;
	color:#fff;
	font-size:17px;
	padding:0 12px;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
	background:#ba002f;
	margin:0 0 14px 0;
}
.sidebar-block {
	margin:0 0 30px 0;
	position:relative;
}
.sidebar-inn,
.main-data-in {
	padding:10px 0 0 0;
	clear:both;
}
.sidebar-property-sale li{
	margin:0 0 14px 0;
}
.sidebar-property-sale li.last{
	margin:0;
}
.sidebar-property-sale li a {
	display:block;
	font-family: 'Signika', sans-serif;
	font-size:16px;
	color:#464646;
	border:1px solid #b5b5b5;
	line-height:44px;
	text-transform:uppercase;
	background:#e4e4e4 url(images/sidebar-gray-bg.png) repeat-x left top;
}
.sidebar-property-sale li a .icons {
	width:25px;
	height:25px;
	margin:8px 5px;
	float:left;
	overflow:hidden;
}
.sidebar-property-sale li a .icons.pro-sall {
	background-position:0 -130px;
}
.sidebar-property-sale li a .icons.pro-rent {
	background-position:-34px -130px;
}
.sidebar-property-sale li a .icons.commer-sall {
	background-position:-69px -130px;
}
.sidebar-property-sale li a .icons.commer-rent {
	background-position:-102px -130px;
}
.sidebar-property-sale li a .icons.bus-sall {
	background-position:-134px -130px;
}
.sidebar-key-info,
.sidebar-key-info li {
	list-style:none;
	margin:0;
	padding:0;
}
.sidebar-key-info li{
	background:#ececec;
	margin:0 0 15px 0;
	clear:both;
	float:left;
	width:100%;
}
.sidebar-key-info li.last{
	margin:0;
}
.sidebar-key-info li figure.key-img {
	float:left;
	margin:0 15px 0 0;
}
.sidebar-key-info li .key-data {
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	overflow:hidden;
	padding:10px 10px 0 0;
}
.sidebar-key-info li a {
	color:#000;
}

.sidebar-form {
	background:#f2f2f2;
}
.sidebar-form2{
	background:#fff;
}
.sidebar-form .form-view {
	padding:0 6px;
	list-style:none;
}
.sidebar-form .form-view li {
	position:relative;
	width:295px;
	list-style:none;
}
.sidebar-form .form-view li.no-label{
	padding-left:94px;
	width:201px;
}
.sidebar-form .form-view li .required {
	color:#ba002f;
	font-size:18px;
	font-weight:bold;
	position:absolute;
	right:2px;
	top:5px;
}
.sidebar-form .form-view label{
	color:#595959;
	float:left;
	width:94px;
	line-height:28px;
}
.sidebar-form .form-view label.normal{
	line-height:16px;
}
.sidebar-form .form-view .text-fi,
.sidebar-form .form-view textarea {
	width:174px;
	border:1px solid #d3d3d3;
}
.sidebar-form div.selector {
	float:left;
	width:184px;
	border:1px solid #d3d3d3;
}
.sidebar-form .refine-search-form {
	background:#fff;
}
.sidebar-form .refine-search-form div.selector {
	width:167px;
}
.sidebar-form .refine-search-form label {
	font-size:12px;
	width:125px;
	color:#2d2d2d;
	text-transform:uppercase;
}
.sidebar-form .refine-search-form li .red-btn{
	float:right;
}
.sidebar-form .refine-search-form li.no-label {
	padding-left:125px;
	width:170px;
}

.sidebar-form .form-view textarea {
	height:159px;
	resize:none;
	overflow:hidden;
}
.capcha-regen-btn img {
	margin:0 0 3px 5px;
}
.required-mesg {
	color:#ba002f;
	margin:5px 0;
}
.sidebar-agent-img {
	float:left;
	margin:0 15px 10px 0;
}
.sidebar-agent-img img{
	border:3px solid #c3c3c3;
}
.sidebar-agent-detail{
	overflow:hidden;
	padding:10px 0 10px 0;	
	font-size:16px;
}
.sidebar-agent-detail h3 {
	color:#000;
	margin:0 0 10px 0;
	text-transform:uppercase;
}
.sidebar-agent-detail .agent-ph .icons{
	float:left;
	width:22px;
	height:22px;
	background-position:-278px -89px;
	margin:0 5px 0 0;
}
/*-- DATA & SIDEBAR TOP CONTROLS  --*/
.main-data-top-control,
.sidebar-top-control {
	font-size:11px;
	float:left;
	width:100%;
	height:15px;
	padding:10px 0 0 0;
	text-transform:uppercase;
}
.main-data-top-control2 {
	margin-top:-25px;
}

.main-data-top-control a,
.sidebar-top-control a{
	color:#595959;
}
.main-data-top-control .fright,
.main-data-top-control .fright-block2 {
	margin:0 5px 0 0;
}
.main-data-top-control .fright-block2{
	float:right;
	width:45%;
}
.main-data-top-control a.back span.icons{
	float:left;
	width:12px;
	height:13px;
	margin:0 5px;
	background-position:0 -96px;
}
.main-data-top-control a.view-prop-map span.icons{
	float:left;
	width:12px;
	height:13px;
	margin:0 5px;
	background-position:-518px -93px;
}
.sidebar-top-control a {
	float:left;
	width:45%;
	margin:0 10px 0 0;
}
.sidebar-top-control a.favourite .icons,
.sidebar-top-control a.find .icons {
	float:left;
	width:14px;
	height:15px;
	margin:0 5px 0 0;
	background-position:-3px -449px;
}
.sidebar-top-control a.find .icons {
	background-position:-480px -92px;
}


/*-- MAIN DATA --*/
#main-data {
	float:left;
	width:640px;
}
#main-data p{
	line-height:18px;
	margin:0 0 15px 0;
}
#main-data h2.title,
#main-data h2.title-red,
a.tilte-links{
	font-family: 'Signika', sans-serif;
	font-size:17px;
	color:#161616;
	text-transform:uppercase;
	line-height:40px;
	background:#bfbfbf;
	padding:0 10px;
	margin:0 0 15px 0;
}
#main-data h2.title-red {
	background:#BA002F;
	color:#fff;
}
a.tilte-links {
	display:block;
}
a.read-more {
	float:right;
	width:auto;
	font-size:11px;
	color:#595959;
	text-transform:uppercase;
	margin:0 15px 10px 0;
}
a.read-more span.name {
	float:left;
	line-height:19px;
}
a.read-more span.icons {
	width:19px;
	height:18px;
	margin:0 5px;
	background-position:-79px -92px;
	float:right;
}
a.read-more.less span.icons {
	background-position:-163px -92px;
}

/*-- OUR TEAM VIEW --*/
ul.our-team-view{
	clear:both;
	margin:10px 0;
}
ul.our-team-view li {
	width:306px;
	height:100px;
	float:left;
	margin:0 14px 25px 0;
	background:#ececec;
	position:relative;
}
ul.our-team-view li .photo {
	float:left;
	width:77px;
	height:100px;
	margin:0;
}
ul.our-team-view .team-short-des{
	display:block;
	overflow:hidden;
	padding:10px;
	line-height:14px !important;
	color:#000;
}
a.view-list-link {
	float:right;
	color:#fff;
	font-size:11px;
	background:#464646;
	padding:4px 6px;
	margin:4px -2px 0 0;
	text-transform:uppercase;
}
.map-location {
	clear:both;
	margin:20px 0 30px 0;
}
.property-slider-outer .new-label {
	width:104px;
	height:104px;
	background-position:0 -218px;
	position:absolute;
	z-index:9999;
}

/*-- CMS PAGE --*/
blockquote{
	font-size:21px;
	line-height:25px;
	color:#595959;
	padding-left:60px;
	position:relative;
}
blockquote:before{
	color:#bfbfbf;
	font-family:"Times New Roman", Times, serif;
	font-size:100px;
	position:absolute;
	content: open-quote;
	margin:0 0 0 -55px;
	top:20px;
}
.cms-block-quote {
	float:right;
	margin:0 20px 20px 20px;
	text-align:right;
}
body.cms-page .main-data-in ul {
	margin:0 0 0 15px;
}
body.cms-page .main-data-in ul li{
	list-style-position:inside;
	list-style-type:disc;
	padding:0 0 5px 0;
}
.table-odd-even {
	border-bottom:3px solid #ba002f;
	margin:0 0 30px 0;
}
.table-odd-even th{
	background:#404040;
	color:#fff;
	font-weight:normal;
	text-transform:uppercase;
}
.table-odd-even th,
.table-odd-even td{
	width:50%;
	padding:10px 10px;
	vertical-align:middle;
	text-align:left;
}
.table-odd-even td,
.table-odd-even td {
	border-right:1px solid #999999;
}
.table-odd-even td:last-child,
.table-odd-even td.last {
	border-right:0;
}
.table-odd-even tr.odd {
	background:#f2f2f2;
}
.table-odd-even tr.even {
	background:#fffefe;
}

/*-- FEATURED PROPERTY --*/
.featured-property-block-view {
	clear:both;
	margin:0 0 20px 0;
}
.search-result-block,
.featured-property-block{
	border-bottom:3px solid #ba002f;
	background:#f2f2f2;
}
.search-result-block figure.img,
.search-result-block figure.img img,
.featured-property-block figure.img,
.featured-property-block figure.img img{
	float:left;
}
.search-result-block figure.img,
.featured-property-block figure.img{
	position:relative;
}
.search-result-block .title,
.featured-property-block .title {
	font-size:12px;
	color:#fff;
	padding:5px 5px;
	background:#464646;
	font-weight:bold;
}
.search-result-block .title .right-side,
.featured-property-block .title .right-side {
	float:right;
}
.featured-property-block{
	float:left;
	width:310px;
	position:relative;
}
.featured-property-block-right {
	float:right;
}
.featured-property-block figure.img .info {
	font-size:12px;
	text-align:right;
	position:absolute;
	width:100%;
	height:20px;
	line-height:20px;
	bottom:0;
	color:#fff;
	left:0;
	background:url(images/slider-control-bg.png) repeat left top;
}
.featured-block-icons {
	float:right;
	width:50px;
	margin:20px 5px 0 0;
}
.featured-block-icons li {
	clear:both;
	float:left;
	width:100%;
	margin:10px 0;
}
.featured-block-icons span.icons {
	float:left;
	width:26px;
	height:17px;
	margin:0 5px;
}
.featured-block-icons span.icons.bed {
	background-position:-7px -179px;
}
.featured-block-icons span.icons.bath {
	background-position:-51px -176px;
}
.featured-block-icons span.icons.parking {
	background-position:-103px -178px;
}
.featured-property-block .detail {
	padding:3px 10px 0 10px;
	clear:both;
}
.featured-property-block .detail a {
	color:#555555;
}
.featured-property-block .detail .title-red {
	color:#ba002f;
	font-weight:bold;
}
.featured-property-block .detail p {
	margin:0 !important;
	line-height:15px!important;
}
.featured-property-block .detail .contact-detail {
	font-size:11px;
	clear:both;
	padding:5px 0 3px 0;
}
.agency-logo {
	position:absolute;
	right:0;
	bottom:0;
}
.sort-by {
	background:#bfbfbf;
	height:40px;
	line-height:40px;
	clear:both;
	padding:0 10px;
	margin:0 0 20px 0;
}
.sort-by .left-panel{
	float:left;
}
.sort-by .left-panel label{
	font-size:14px;
	line-height:40px;
	color:#212121;
	float:left;
	padding:0 10px 0 0;
}
.sort-by .left-panel div.selector{
	float:left;
	width:135px;
	margin:5px 0 0 0;
	border:1px solid #d2d2d2;
}
.sort-by .right-panel {
	float:right;
	font-family:'Signika',sans-serif;
	font-size:16px;
	color:#161616;
}
.search-result-block {
	margin:0 0 5px 0;
	clear:both;
}
.search-result-block .title{
	font-size:14px;
}
.search-result-block .detail {
	padding:10px;
	overflow:hidden;
}
.apartment-unit {
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	background:#464646;
}
.property-icons {
	float:right;
	margin:4px 0 0 0;
}
.property-icons li {
	float:left;
	font-size:16px;
	color:#717171;
	line-height:17px;
	margin:0 5px;
}
.property-icons span.icons {
	float:left;
	width:20px;
	height:17px;
	margin:0 5px;
}
.property-icons span.icons.bed {
	background-position:-253px -182px;
}
.property-icons span.icons.bath {
	background-position:-283px -181px;
}
.property-icons span.icons.parking {
	background-position:-312px -181px;
}
.search-result-block .detail .detail-title {
	font-size:16px;
	color:#090909;
	clear:both;
}
.search-result-block .detail .title2 {
	font-size:14px;
	color:#ba002f;
	font-weight:bold;
}
.search-page-agent-detail {
	float:right;
	width:100%;
	font-size:14px;
	text-align:right;
}
.search-page-agent-detail .agent-logo{
	float:right;
	margin:0 0 0 10px;
}
.search-page-agent-detail .agent-name {
	color:#000;
	text-transform:uppercase;
}
.search-page-agent-detail .agent-ph{
	color:#595959;
}
.add-to-myfavourites {
	float:right;
	width:100%;
	margin:0 0 25px 0 !important;
}
.add-to-myfavourites a {
	float:right;
	font-size:12px;
	color:#595959;
	margin:0 10px 0 0;
	text-transform:uppercase;
}
.add-to-myfavourites a span.icons{
	width:13px;
	height:13px;
	float:left;
	margin:2px 5px 0 5px;
}
.add-to-myfavourites a span.icons {
	background-position:-45px -95px;
}
.mid-adv {
	margin:0 0 25px 0;
}

/*-- PAGINATION --*/
.pagination {
	float:left;
	width:100%;
	margin:0 0 25px 0;
}
.pagination li,
.pagination li a{
	float:left;
}
.pagination li {
	margin:0 2px 0 0;
}
.pagination li a {
	color:#fff;
	width:33px;
	height:38px;
	text-align:center;
	line-height:38px;
	font-weight:bold;
	background:#757575;
	position:relative;
}
.pagination li a:hover,
.pagination li a.active {
	background:#ba002f;
}
.pagination li.first a,
.pagination li.last a{
	width:77px;
	background:#404040;
}
.pagination li.last{
	margin:0 0 0 0;
}
.pagination li.last a{
	width:71px;
	
}
.pagination li.first a span.icons,
.pagination li.last a span.icons{
	width:6px;
	height:6px;
	position:absolute;
}
.pagination li.first a span.icons.prev {
	background-position:-201px -97px;
	left:13px;
	top:50%;
	margin-top:-3px;
}
.pagination li.last a span.icons.next {
	background-position:-217px -97px;
	right:10px;
	top:50%;
	margin-top:-3px;

}

/*-- UNIFORM AND FORM CSS --*/
.form-view li {
	float:left;
	width:100%;
}
.form-view li {
	margin:0 0 10px 0;
}
.form-view li.mb5 {
	margin:0 0 5px 0;
}
.text-fi, textarea {
	font-family:Arial, Helvetica, sans-serif;
	height:26px;
	color:#555555;
	font-size:12px;
	background:#fff;
	padding:0 5px;
	border:1px solid #555555;
	outline:none;
}
.text-fi {
	line-height:26px;
}
.wi-457{ 
	width:447px;
}

div.checker, 
div.checker span,
div.selector{	
	position:relative;
}

/*-- FORM CHECK BOX --*/
div.checker{
	margin:2px 5px 0 0;
}
div.checker, 
div.checker span {
	float:left;
	width:13px;
	height:13px;
}
div.checker span{
	background-position:-42px -422px;
}
div.checker span.checked {
	background-position:-42px -450px;
}
div.checker span input{
	position:absolute;
	left:0;
	top:0;
	width:13px;
	height:13px;
	margin:0;
	border:0;
	padding:0;
}

/*-- FORM SELECT COMBO BOX --*/
div.selector {
	display:block;
	height:26px;
	line-height:26px;
	border:1px solid #555555;
	background-color:#fff;
	background-position:right -340px;
}
div.selector span{
	display:block;
	padding:0 26px 0 5px;
	line-height:26px;
}
div.selector select {
	width:100%;
	height:26px;
	position:absolute;
	left:0;
	top:0;
	outline:none;
}

/*-- BUTTON --*/
input.red-btn{
	color:#fff;
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size:16px;
	text-transform:uppercase;
	background:#ba002f;
	width:119px;
	height:27px;
	border:0;
	padding:0;
	cursor:pointer;
	outline:none;
}
.list-wrap input.red-btn{
	float:right;
}

/*-- FRONT TOP TAB FORM --*/
.list-wrap label {
	color:#fff;
}
.tab-width,
.tab-width2,
.tab-width3 {
	width:162px;
	float:left;
}
.tab-width2 {
	width:180px;
}
.tab-width3 {
	width:147px;
	margin-right:14px;
}
.tab-width label, 
.tab-width2 label {
	font-size:11px;
}


/*-- FOOTER --*/
#footer {
	text-align:center;
	width:100%;
	float:left;
	clear:both;
	position:relative;
}
#footer .footer-top {
	padding:20px 0;
	color:#c4c4c4;
	font-size:11px;
	background:#404040;
}
#footer .footer-top a {
	color:#c4c4c4;
	text-decoration:none;
}
.footer-copyright {
	color:#000;
	font-size:11px;
	font-style:italic;
	padding:20px 0;
}
.footer-copyright a img{
	margin:-8px 0;
}


/*-- SPECIFIC CHANGES FOR BROWSER WISE --*/

/* == FOR MOZILA  == */
@-moz-document url-prefix() { 
  #form-tab .nav li a  {
     padding: 0 20px;
  }
	#form-tab .nav li.last a {
		padding: 0 18px;
	}
}

/* == FOR IE9  == */
:root #form-tab .nav li.last a { padding: 0 21px 0 22px \0/IE9; }  /* IE9 */


