<!-- 
  Use this file to create appSettings.config
  Change the settings below to something suitable for your environment
-->
<appSettings>
  <add key="umbracoConfigurationStatus" value="6.1.1" />
  <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
  <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
  <add key="umbracoContentXML" value="~/App_Data/umbraco.config" />
  <add key="umbracoStorageDirectory" value="~/App_Data" />
  <add key="umbracoPath" value="~/umbraco" />
  <add key="umbracoEnableStat" value="false" />
  <add key="umbracoHideTopLevelNodeFromPath" value="true" />
  <add key="umbracoEditXhtmlMode" value="true" />
  <add key="umbracoUseDirectoryUrls" value="true" />
  <add key="umbracoDebugMode" value="true" />
  <add key="umbracoTimeOutInMinutes" value="20" />
  <add key="umbracoVersionCheckPeriod" value="7" />
  <add key="umbracoDisableXsltExtensions" value="true" />
  <add key="umbracoDefaultUILanguage" value="en" />
  <add key="umbracoProfileUrl" value="profiler" />
  <add key="umbracoUseSSL" value="false" />
  <add key="umbracoUseMediumTrust" value="false" />

  <!-- Set this to true to enable storing the xml cache locally to the IIS server even if the app files are stored centrally on a SAN/NAS Alex Norcliffe 2010 02 for 4.1  -->
  <add key="umbracoContentXMLUseLocalTemp" value="false" />

  <add key="webpages:Enabled" value="false" />
  <add key="enableSimpleMembership" value="false" />
  <add key="autoFormsAuthentication" value="false" />

  <add key="log4net.Config" value="config\log4net.config" />

  <!-- used for custom image streaming -->
  <add key="imageurl" value="http://psimages.dev.reiq.com"/>
  
  <!-- useless key methinks -->
  <add key="webUrl" value="http://new.dev.reiq.com/"/>
  
  <!-- default admin email -->
  <add key="adminemail" value="propertysearch@reiq.com.au"/>
  <add key="GoogleMapKey" value="ABQIAAAA34om24w4mcsb0mfPCfUgwxQSlB8g9uHPhg_yHBcV9pUZXxEjBhSmUO3sCEoDKdl2_uN0LwomuAV13w"/>
  <add key="GoogleMapKeyV3" value="AIzaSyD61coijMkTiafkwbwih30aROHI8XjgrC8"/>
  <add key="reiqcorporateurl" value="http://institute.reiq.com/"/>
  
  <!-- this key is created to handle google analytics code injecting -->
  <add key="injectGoogleAnalyticsScript" value="false"/>
  <!-- this key is created to handle yandex metrika code injecting -->
  <add key="injectYandexMetrikaScript" value="false" />
  <!-- this key is created to handle google remarketing code injecting -->
  <add key="injectGARemarketingScript" value="false" />
  
  <!-- Redirecting to smartphones -->
  <add key="mobileUrl" value="http://m.reiq.com/"/>

  <!-- Find an Agent keys-->
  <add key="Environment" value="Development"/>
  <!-- Live App Settings-->
  <add key="Live.iMISQueryServiceURL" value="http://tron/imis15/AsiCommon/Services/query/queryservice.asmx" />
  <add key="Live.iMISMembershipServiceURL" value="http://tron/imis15/AsiCommon/Services/membership/membershipwebservice.asmx" />
  <!-- Staging App Settings-->
  <add key="Staging.iMISQueryServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/query/queryservice.asmx" />
  <add key="Staging.iMISMembershipServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/membership/membershipwebservice.asmx" />
  <!-- Test App Settings-->
  <add key="Test.iMISQueryServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/query/queryservice.asmx" />
  <add key="Test.iMISMembershipServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/membership/membershipwebservice.asmx" />
  <!-- Development App Settings-->
  <add key="Development.iMISQueryServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/query/queryservice.asmx" />
  <add key="Development.iMISMembershipServiceURL" value="http://imisdev-2003r/imis15/AsiCommon/Services/membership/membershipwebservice.asmx" />
  <add key="iMISSysAdminUser" value="NJOLME" />
  <add key="iMISSysAdminPassword" value="password" />
  <add key="FindAnAgent.GridSize" value="20" />
  <add key="FindAnAgent.CacheAgents" value="true" />
  <add key="FindAnAgent.CacheAgentsPeriod" value="15" />
  <!-- Link to PS Admin App -->
  <add key="REIQAdmin" value="http://psadmin.reiq.com/"/>

  <!-- Default Thank You page URL - Please place here URL of page which user will be redirected to after sending Enquery -->
  <add key="DefaultThankYouPageURL" value="/thank-you-pages-pop-up/default-thank-you-page" />
  
</appSettings>