<!-- 
  Use this file to create connectionStrings.config
  Make sure the connection strings are modified to correspond to the Umbraco and REIQ properties databases in your environment.
-->
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="server=(LocalDB)\v11.0;database=REIQUmbracoCMS;user id=;password=" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  <remove name="propertiesdb" />
  <add name="propertiesdb" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=reiq;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>