<!-- 
  Use this file to create smtp.config
  Change the settings below to something suitable for your environment
-->
<smtp>
  <network host="127.0.0.1" userName="username" password="password" />
</smtp>
<!--
<smtp deliveryMethod="SpecifiedPickupDirectory" from="no-reply@mydomain.com">
  <specifiedPickupDirectory pickupDirectoryLocation="C:\Development\MyWebApp\Mail" />
</smtp>
-->