<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ID="Content1" ContentPlaceHolderId="HomeSection" runat="server">
	<br/>
	<h1 style="text-align:center;">THERE WAS ERROR PROCESSING YOUR REQUEST</h1>
	<br/>
	<section class="front-page-top-block">
	  <umbraco:Macro ID="Macro1" Alias="[UserControl]SearchForm" runat="server"></umbraco:Macro>
	</section><!-- /FRONT CONTENT (SECOND TAB) --> 
</asp:Content>